body {
    font-family: 'Segoe UI', sans-serif;
    margin: 0;
    height: 100%;
    overflow: hidden ;
        -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    user-select: none;
}

span {
    font-style: italic;
}
.active{
    background-color:deepskyblue;
}
.unselectable {
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    user-select: none;
}
.imageTextBox {
    background-color: transparent;
    height: 64px;
    font-family: Arial;
    color: deepskyblue;
    border: 0;
    /*// padding: 10px;*/
    box-sizing: content-box !important;
    word-break: break-word;
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    user-select: none;
}


/*button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    */
    .imageTextBox:focus {
        outline: dashed black 2px;
    }